body {
  font-family: "Rubik", sans-serif;
  background-color: #0a0912;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.a {
  color: #FFF;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.left-div-header {
  margin-right: auto;
  margin-right: 352px;
}

.right-div-header {
  margin-left: auto;
  margin-left: 352px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.register-button {
  height: 43px;
  border-radius: 100px;
}

.menubar-item {
  margin: 20px;
}

.info-base {
  width: 845px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}
.info-base .text {
  color: #FFB72D;
  text-align: center;
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info {
  display: flex;
  position: relative;
  width: 400px;
  max-height: 412px;
  margin-top: 44px;
}

.point {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.point img {
  width: 18px;
  height: 18px;
}

.point p {
  color: #888888;
  font-weight: 350;
  font-size: 16px;
  margin: 5px;
}

.pl {
  position: absolute;
  top: 0;
  left: 0;
}

.pr {
  position: absolute;
  right: 0;
}

.frame-bottom {
  margin-top: 80px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
}

input {
  width: 384px;
  height: 58px;
  margin: 20px;
  border-radius: 50px;
  text-align: start;
  border: solid 1px #888888;
  background-color: black;
}

.join-text {
  color: #FFB72D;
  text-align: center;
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: norma;
}

.join-text {
  width: 592px;
  justify-content: center;
  gap: 32px;
  margin-top: 100px;
}

input {
  padding-left: 24px;
}

.button {
  width: 178px;
  height: 58px;
  border-style: none;
  background-color: #FFB72D;
  margin: 20px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.features-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.features-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 620px;
  height: 640px;
  gap: 10px;
}

.bt-ft {
  width: 235px;
  height: 238px;
  background-color: #FEF6F0;
  border-radius: 10px;
  padding: 32px;
}

@media (max-width: 390px) {
  .features-buttons {
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .info-base {
    width: auto;
  }
  .info-base .text {
    font-size: 25px;
    text-align: center;
  }
  .info {
    width: auto;
  }
  .frame-bottom {
    flex-direction: column;
    width: 90%;
  }
  input {
    width: 90%;
  }
  .button {
    width: 90%;
  }
  .left-div-header {
    display: none;
  }
  .right-div-header {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */