$color-yellow: #FFB72D;
$color-bg: #080B11;
$color-border: #7D7D7D;
$color-card: #FEF6F0;
$background-color: #0a0912;

$font-family-rubik: "Rubik", sans-serif;
$font-size-small: 16px;
$font-size-large: 64px;
$font-weight-normal: 400;
$font-weight-bold: 600;
$text-align-center: center;
$text-color-white: #FFF;
$text-color-gray: #7D7D7D;
$text-color-yellow: $color-yellow;
$border-color: #4f4f4f;
$border-radius-rounded: 100px;
$max-width-input: 384px;
$height-input: 58px;
$margin-input: 20px;
$padding-input: 24px;
$width-button: 178px;
$height-button: 58px;
$margin-button: 20px;
$border-radius-button: 50px;
$background-color-button: $color-yellow;
$width-point-img: 18px;
$height-point-img: 18px;
$width-point-p: 16px;
$height-point-p: 16px;
$width-info-base: 845px;
$margin-top-info-base: 110px;
$width-info: 400px;
$max-height-info: 412px;
$margin-top-info: 44px;
$width-features-buttons: 620px;
$height-features-buttons: 640px;
$width-bt-ft: 235px;
$height-bt-ft: 238px;
$padding-bt-ft: 32px;
$width-frame-bottom: max-content;
$margin-top-frame-bottom: 20px;
$width-join-text: 592px;
$margin-top-join-text: 100px;
$width-left-div-header: auto;
$width-right-div-header: auto;
$margin-top-left-div-header: auto;
$margin-top-right-div-header: auto;
$width-container: 100%;
$display-flex: flex;
$justify-content-center: center;
$align-items-center: center;
$flex-direction-column: column;
$width-home: 90%;
$object-fit-contain: contain;
$max-width-img: 100%;
$min-width-logo: 100px;
$width-register-button: 43px;
$margin-menubar-item: 20px;
