@use "variables" as var;

body {
    font-family: var.$font-family-rubik;
    background-color: var.$background-color;
}

.container {
    width: var.$width-container;
    display: var.$display-flex;
    justify-content: var.$justify-content-center;
    align-items: var.$align-items-center;
    flex-direction: var.$flex-direction-column;
}

.a {
    color: var.$text-color-white;
    text-align: var.$text-align-center;
    font-family: var.$font-family-rubik;
    font-size: var.$font-size-small;
    font-style: normal;
    font-weight: var.$font-weight-normal;
    line-height: normal;
}

p {
    color: var.$text-color-gray;
    text-align: var.$text-align-center;
}

hr {
    border-color: var.$border-color;
    box-sizing: border-box;
    width: 100%;
}

.left-div-header {
    margin-right: var.$width-left-div-header;
}

.right-div-header {
    margin-left: var.$width-right-div-header;
}

.home {
    display: var.$display-flex;
    justify-content: var.$justify-content-center;
    align-items: var.$align-items-center;
    width: var.$width-home;
}

img {
    object-fit: var.$object-fit-contain;
    max-width: var.$max-width-img;
}

.logo {
    min-width: var.$min-width-logo;
}

.register-button {
    height: var.$width-register-button;
    border-radius: var.$border-radius-rounded;
}

.menubar-item {
    margin: var.$margin-menubar-item;
}

.info-base {
    .text {
        color: var.$text-color-yellow;
        text-align: var.$text-align-center;
        font-family: var.$font-family-rubik;
        font-size: var.$font-size-large;
        font-style: normal;
        font-weight: var.$font-weight-bold;
        line-height: normal;
    }
    max-width: var.$width-info-base;
    align-items: var.$align-items-center;
    justify-content: var.$justify-content-center;
    display: var.$display-flex;
    flex-direction: var.$flex-direction-column;
    margin-top: var.$margin-top-info-base;
}

.info {
    display: var.$display-flex;
    position: relative;
    width: var.$width-info;
    max-height: var.$max-height-info;
    margin-top: var.$margin-top-info;
}

.point {
    display: var.$display-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.point img {
    width: var.$width-point-img;
    height: var.$height-point-img;
}

.point p {
    color: var.$text-color-gray;
    font-weight: var.$font-weight-normal;
    font-size: var.$width-point-p;
    margin: 5px;
}

.frame-bottom {
    margin-top: var.$margin-top-frame-bottom;
    width: var.$width-frame-bottom;
    display: var.$display-flex;
    align-items: var.$align-items-center;
    justify-content: var.$justify-content-center;
}

input {
    max-width: var.$max-width-input;
    height: var.$height-input;
    margin: var.$margin-input;
    border-radius: var.$border-radius-button;
    text-align: start;
    border: solid 1px var.$border-color;
    background-color: black;
}

.join-text {
    color: var.$text-color-yellow;
    text-align: var.$text-align-center;
    font-family: var.$font-family-rubik;
    font-size: var.$font-size-large;
    font-style: normal;
    font-weight: var.$font-weight-bold;
    line-height: normal;
    max-width: var.$width-join-text;
    justify-content: var.$justify-content-center;
    gap: 32px;
    margin-top: var.$margin-top-join-text;
}

input {
    padding-left: var.$padding-input;
}

.button {
    width: var.$width-button;
    height: var.$height-button;
    border-style: none;
    background-color: var.$background-color-button;
    margin: var.$margin-button;
    border-radius: var.$border-radius-button;
    text-align: center;
    display: var.$display-flex;
    align-items: var.$align-items-center;
    justify-content: var.$justify-content-center;
    max-width: 100%;
}

.features-div {
    display: var.$display-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: var.$justify-content-center;
}

.features-buttons {
    display: var.$display-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: var.$width-features-buttons;
    height: var.$height-features-buttons;
    gap: 10px;
}

.bt-ft {
    width: var.$width-bt-ft;
    height: var.$height-bt-ft;
    background-color: var.$color-card;
    border-radius: 10px;
    padding: var.$padding-bt-ft;
}

@media (max-width: 490px) {
    .features-buttons {
        flex-direction: column;
        width: auto; 
        height: auto; 
    }
    .info-base {
        width: auto;
        .text {
            font-size: 25px;
            text-align: center;
        }
    }
    .point {
        justify-content: center;
    }
    .info {
        width: 100%;
        flex-direction: column;
    }
    .frame-bottom {
        flex-direction: column;
        width: 100%;
    }
    .join-text, input {
        width: 90%;
    }
    .button {
        width: 90%;
    }
    .left-div-header, .right-div-header {
        display: none;
    }
}
