@use "variables" as var;

body{
    font-family: "Rubik", sans-serif;
}

.container{
    background-color: var.$background-color;
}


.a{
    color: #ffff;

}
.info-base{
    .text{
        font-size: 64px;
        color: #FFB72D;
    }
    width: 845px;
}   
